[submodule "fastapi"]
	path = fastapi
	url = https://github.com/DPChanny/unus-fastapi-server
[submodule "flutter"]
	path = flutter
	url = https://github.com/DPChanny/unus-flutter-app
[submodule "spring"]
	path = spring
	url = https://github.com/DPChanny/unus-spring-server
